.root {
  background: linear-gradient(113deg, #080809 0.62%, #0f3945 76.96%), #d9d9d9;
}
.header {
  width: 100%;
  height: 70vh;
  background: url("../../../static/img/background.png");
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  max-width: 1224px;
  color: var(--white, #fff);
  text-align: center;
  font-family: "Inter";
  font-size: 86px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 103.2px */
  padding-left: 12px;
  padding-right: 12px;
}
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 0px 200px 0px;
  border-radius: 25px 25px 0px 0px;
  background-color: white;
}
.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about {
  max-width: 800px;
}
.about_image {
  border-radius: 25px;
  box-shadow: 0px 0px 0px 8px var(--light-gray, #eaf4f4);
  width: 100%;
  height: auto;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-top: 80px;
}
.article_wrapper {
  max-width: 800px;
  margin-top: 80px;
}

.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.articleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.artcleTitle {
  color: var(--black, #001219);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 44.8px */
}
.artcleDescription {
  color: #6c757d;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
}
.articleBanners {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.articleBanners_image_left,
.articleBanners_image_right {
  flex: 1;
  border-radius: 12px;
}
.articleBanners_image_left {
  padding-right: 12px;
}
.articleBanners_image_right {
  padding-left: 12px;
}
.articleBanners_image_left_img,
.articleBanners_image_right_img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0px 0px 0px 6px var(--light-gray, #eaf4f4);
}
.startProject {
  width: 100%;
  margin-top: 102px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.startProjectHeader {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.startProjectHeader h2 {
  color: #001219;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 89.6px */
}
.startProjectHeader p {
  color: #6c757d;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 33.6px */
}
.projects {
  width: 100%;
  border-radius: 25px;
  background: #fff;
  box-shadow: 0px 0px 0px 8px #eaf4f4;
  padding: 32px;
  display: flex;
  gap: 32px;
}
.projectsLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
}
.projectsLeftSwitch {
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  border: 1px solid #d8e2dc;
  background: #fafafa;
}
.projectsLeftSwitchBlock {
  width: 50%;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: 1px solid var(--Blue, #07059a);
  background: #fafafa;
  gap: 5px;
}
.inActiveSwitch {
  width: 50%;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  gap: 5px;
}
.inActiveProjectTitle {
  color: #d8e2dc;
  text-align: center;
  align-self: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
}
.projectTitle {
  color: var(--black, #001219);
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.224px;
}
.projectsLeftContainer {
  display: flex;
  flex-direction: column;
  gap: 24;
}
.projectsLeftContainerText {
  color: #484f54;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.16px;
}
.projectsLeftContainerTextItem {
  color: #6c757d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.16px;
  padding-left: 16px;
}
.projectsLeftContainerTitle {
  color: #001219;

  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 44.8px */
  letter-spacing: -1px;
}
.projectsLeftBtn {
  cursor: pointer;
  display: flex;
  padding: 12px 42px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  background: linear-gradient(113deg, #01161e 0.62%, #080809 76.96%);
}
.projectsLeftBtnTitle {
  color: #fff;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.224px;
}
.projectsRight {
  padding: 0px 45px 0px 45px;
}
.contacts {
  width: 100%;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.contactsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactsContainer h4 {
  color: #001219;
  text-align: center;

  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 67.2px */
}
.contactsContainer p {
  color: #6c757d;
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.contactsBtn {
  display: flex;
  padding: 18px 32px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 16px;
  background: linear-gradient(180deg, #37bbfe 0%, #007dbb 100%);
}
.contactsBtn p {
  color: #fff;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  letter-spacing: -1px;
}
@media (max-width: 1280px) {
  .title {
    max-width: 1000px;
    font-size: 72px;
  }
  .main {
    padding: 100px 20px 200px 20px;
  }
}
@media (max-width: 1024px) {
  .title {
    max-width: 800px;
    font-size: 48px;
  }
  .main {
    padding: 100px 16px 200px 16px;
  }

  .startProject {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .projects {
    width: 100%;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0px 0px 0px 8px #eaf4f4;
    padding: 32px;
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
  }
  .projectsLeft {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .title {
    max-width: 300px;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  .main {
    padding: 40px 16px 164px 16px;
    margin-top: -60px;
    border-radius: 16px;
    background: linear-gradient(180deg, #f2f7fb 0%, #fff 100%);
  }
  .header {
    width: 100%;
    height: 100dvh;
    background: url("../../../static/img/banner.png");
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .articles {
    margin-top: 32px;
    gap: 32px;
  }
  .article {
    gap: 32px;
  }
  .artcleTitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
  }
  .artcleDescription {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }

  .articleBanners_image_left,
  .articleBanners_image_right {
    border-radius: 4px;
  }
  .articleBanners_image_left {
    padding-right: 6px;
  }
  .articleBanners_image_right {
    padding-left: 6px;
  }

  .articleBanners_image_left_img,
  .articleBanners_image_right_img {
    border-radius: 4px;
    box-shadow: 0px 0px 0px 4px var(--light-gray, #eaf4f4);
  }

  .startProjectHeader {
    gap: 0px;
  }
  .startProjectHeader h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 89.6px */
  }
  .startProjectHeader p {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .projects {
    width: 100%;
    border-radius: 16px;
    background: var(--white, #fff);
    box-shadow: 0px 0px 0px 4px var(--light-gray, #eaf4f4);
    padding: 12px;
    display: flex;
    gap: 32px;
  }

  .projectsLeftSwitchBlock {
    width: 50%;
    height: 36px;
    display: flex;
    width: 161px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 25px;
    border: 1px solid #07059a;
    background: #fafafa;
  }
  .inActiveSwitch {
    width: 50%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    gap: 5px;
  }
  .projectTitle {
    color: var(--black, #001219);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.196px;
  }
  .contacts {
    margin-top: 100px;
  }
  .contactsContainer h4 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }
  .contactsContainer p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  .projectsLeftContainerText {
    color: #6c757d;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    letter-spacing: -0.16px;
  }
  .projectsLeftContainerTitle {
    color: #001219;

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
    letter-spacing: -1px;
  }
  .inActiveProjectTitle {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.196px;
  }
  .projectsLeftBtnTitle {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.196px;
  }
}
