* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body_wrapper {
  background: var(
    --gradient,
    linear-gradient(113deg, #01161e 0.62%, #080809 76.96%)
  );
  padding-bottom: 24px;
}

.container {
  max-width: 1224px;
  padding: 0 12px;
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
  position: relative;
}
.banner {
  background-image: url(../../static/img/banner.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.text {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}
.text_title {
  color: var(--white, #fff);
  font-size: 86px;
  font-weight: 500;
  line-height: 120%; /* 103.2px */
  margin-bottom: 32px;
  max-width: 838px;
  text-transform: capitalize;
}
.text_description {
  color: #fafafa;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  max-width: 478px;
}
.text_buttons {
  display: flex;
  align-items: center;
  margin-top: 51px;
}
.text_buttons_explore {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 12px;
  background: var(--white, #fff);
  color: var(--linear, #080809);
  font-size: 14px;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  padding: 12px 12px 12px 24px;
}
.text_buttons_explore:hover {
  color: var(--linear, #080809);
  opacity: 0.9;
  text-decoration: none;
}
.text_buttons_explore_icon {
  margin-left: 12px;
  width: 20px;
  height: 20px;
}
.text_buttons_join {
  margin-left: 32px;
  color: var(--white, #fff);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  display: flex;
  align-items: center;
}
.text_buttons_join_icon {
  margin-left: 4px;
  width: 20px;
  height: 20px;
}

.main_wrapper {
  max-width: calc(100vw - 48px);
  margin-right: auto;
  margin-left: auto;
  border-radius: 25px;
  background: linear-gradient(180deg, #f2f7fb 0%, #fff 100%);
  padding-top: 120px;
  transform: translateY(-120px);
  margin-bottom: -120px;
}

.title {
  color: var(--dark-green, #081c15);
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 140%; /* 67.2px */
}
.design {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

.design_text {
  padding-right: 32px;
  flex: 1;
}

.design_text_title {
  color: var(--linear, #080809);
  font-size: 32px;
  font-weight: 700;
  line-height: 140%; /* 44.8px */
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.design_text_title_svg {
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

.design_text_description {
  color: var(--gray, #6c757d);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}
.design_text_description + .design_text_description {
  margin-top: 6px;
}

.design_text_buttons {
  margin-top: 32px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.design_text_buttons_btn {
  padding: 8px 24px;
  border-radius: 25px;
  border: 2px solid var(--light-gray, #eaf4f4);
  background: var(--light-gray, #eaf4f4);
  margin-bottom: 8px;
  color: var(--gray, #6c757d);
  font-size: 14px;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  text-transform: capitalize;
}

.design_text_buttons_btn + .design_text_buttons_btn {
  margin-left: 8px;
}

.design_image {
  flex: 1;
  width: 100%;
}
.design_image_top {
  position: relative;
  z-index: 2;
  margin-left: auto;
  width: 66%;
}
.design_image_bottom {
  margin-left: 32px;
  width: 60%;
  margin-top: 0;
  transform: translateY(-50%);
}
.design_image_top_img {
  width: 100%;
  height: auto;
}
.design_image_bottom_img {
  width: 100%;
  height: auto;
}
.challange {
  margin-top: 140px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.challange_text {
  padding-left: 32px;
}

.challange_text_title {
  color: var(--linear, #080809);
  font-size: 32px;
  font-weight: 700;
  line-height: 140%; /* 44.8px */
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.challange_text_title_svg {
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

.challange_text_description {
  color: var(--gray, #6c757d);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}
.challange_text_description + .challange_text_description {
  margin-top: 6px;
}

.challange_text_buttons {
  margin-top: 32px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.challange_text_buttons_btn {
  padding: 8px 24px;
  border-radius: 25px;
  border: 2px solid var(--light-gray, #eaf4f4);
  background: var(--light-gray, #eaf4f4);
  margin-bottom: 8px;
  color: var(--gray, #6c757d);
  font-size: 14px;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  text-transform: capitalize;
}

.challange_text_buttons_btn + .challange_text_buttons_btn {
  margin-left: 8px;
}

.challange_image_top {
  width: 83%;
  position: relative;
  z-index: 2;
  margin-right: 32px;
  margin-left: auto;
}
.challange_image_bottom {
  width: 76%;
  display: inline-block;
  margin-top: 0;
  transform: translateY(-40%);
}

.community {
  text-align: center;
  margin-top: 200px;
}
.community_title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 140%; /* 44.8px */
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.community_title_svg {
  width: 32px;
  height: 32px;
  margin-left: 12px;
}
.community_description {
  color: var(--gray, #6c757d);
  text-align: center;

  font-size: 18px;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  max-width: 568px;
  margin-right: auto;
  margin-left: auto;
}

.community_description + .community_description {
  margin-top: 8px;
}

.community_button {
  margin-top: 24px;
  border-radius: 12px;
  background: var(
    --gradient,
    linear-gradient(113deg, #01161e 0.62%, #080809 76.96%)
  );
  display: inline-flex;
  padding: 12px 12px 12px 24px;
  align-items: center;
  color: var(--white, #fff);
  font-size: 14px;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  margin-right: auto;
  margin-left: auto;
  border: none;
}
.community_button:hover {
  color: var(--white, #fff);
  text-decoration: none;
  opacity: 0.9;
}

.community_button_icon {
  margin-left: 12px;
  width: 20px;
  height: 20px;
}

.markt {
  margin-top: 200px;
  border-radius: 35px;
  background: #fafafa;
  box-shadow: 0px 0px 0px 8px rgba(216, 226, 220, 0.5);
  display: flex;
  background-image: url(../../static/img/marktImage.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.markt_text {
  padding: 64px 0 64px 93px;
}

.markt_text_title {
  color: #090909;
  font-size: 90px;
  font-weight: 700;
  line-height: 120%; /* 108px */
}
.markt_text_description {
  margin-top: 21px;
  color: #090909;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%; /* 48px */
}
.markt_text_list {
  list-style-type: disc;
  margin-top: 32px;
}
.markt_text_list_item + .markt_text_list_item {
  margin-top: 16px;
}
.markt_text_list_item {
  color: #07059a;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
}

.markt_text_button {
  margin-top: 46px;
  border-radius: 12px;
  background: var(
    --gradient,
    linear-gradient(113deg, #01161e 0.62%, #080809 76.96%)
  );
  padding: 14px 16px 14px 28px;
  color: var(--white, #fff);
  font-size: 18px;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  display: flex;
  align-items: center;
  border: none;
  display: inline-block;
  text-decoration: none;
}
.markt_text_button:hover {
  color: var(--white, #fff);
  text-decoration: none;
  opacity: 0.9;
}
.markt_text_button_icon {
  margin-left: 12px;
  height: 20px;
  width: 20px;
}

.markt_back_image {
  display: none;
}

.questions {
  text-align: center;
  margin-top: 200px;
  padding-bottom: 200px;
}
.questions_title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 140%; /* 67.2px */
}
.questions_description {
  color: var(--gray, #6c757d);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}
.questions_button {
  display: inline-flex;
  padding: 18px 32px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  border-radius: 35px;
  background: linear-gradient(180deg, #37bbfe 0%, #007dbb 100%);
  border: none;
  color: var(--white, #fff);
  font-size: 18px;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  letter-spacing: -1px;
  margin-top: 32px;
}
.questions_button:hover {
  color: var(--white, #fff);
  letter-spacing: -1px;
  opacity: 0.9;
  text-decoration: none;
}
.questions_button_icon {
  margin-left: 12px;
  width: 22px;
  height: 20px;
}

@media (max-width: 768px) {
  .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .text_title {
    font-size: 48px;
    margin-bottom: 16px;
  }
  .text_description {
    font-size: 18px;
  }
  .text_buttons {
    margin-top: 49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 12px;
  }
  .text_buttons_explore {
    font-size: 14px;
    padding: 10px 10px 10px 18px;
    border-radius: 8px;
  }
  .text_buttons_explore_icon {
    margin-left: 12px;
    width: 20px;
    height: 20px;
  }
  .text_buttons_join {
    margin-left: 0;
    font-size: 14px;
  }
  .text_buttons_join_icon {
    margin-left: 4px;
    width: 20px;
    height: 20px;
  }

  .main_wrapper {
    max-width: calc(100vw);
    border-radius: 16px;
    padding-top: 60px;
    transform: translateY(-60px);
    margin-bottom: -60px;
  }

  .title {
    font-size: 32px;
  }
  .design {
    margin-top: 40px;
    display: block;
  }

  .design_text {
    padding-right: 0;
    margin-bottom: 20px;
  }

  .design_text_title {
    font-size: 24px;
  }
  .design_text_title_svg {
    width: 20px;
    height: 20px;
    margin-left: 6px;
  }

  .design_text_description {
    font-size: 16px;
  }
  .design_text_description + .design_text_description {
    margin-top: 4px;
  }

  .design_text_buttons {
    margin-top: 24px;
  }
  .design_text_buttons_btn {
    padding: 6px 18px;
    border-radius: 25px;
    border: 2px solid var(--light-gray, #eaf4f4);
    margin-bottom: 4px;
    font-size: 12px;
  }

  .design_text_buttons_btn + .design_text_buttons_btn {
    margin-left: 8px;
  }

  .design_image_top {
    width: 70%;
  }
  .design_image_bottom {
    margin-left: 0;
    width: 65%;
    display: inline-block;
    transform: translateY(-50%);
  }

  .challange {
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid reds;
  }

  .challange_text {
    padding-left: 0;
  }

  .challange_text_title {
    font-size: 24px;
  }
  .challange_text_title_svg {
    width: 20px;
    height: 20px;
    margin-left: 8px;
  }

  .challange_text_description {
    color: var(--gray, #6c757d);
    font-size: 16px;
  }
  .challange_text_description + .challange_text_description {
    margin-top: 6px;
  }

  .challange_text_buttons {
    margin-top: 24px;
  }
  .challange_text_buttons_btn {
    padding: 6px 18px;
    border-radius: 25px;
    border: 2px solid var(--light-gray, #eaf4f4);
    margin-bottom: 4px;
    font-size: 12px;
  }

  .challange_text_buttons_btn + .challange_text_buttons_btn {
    margin-left: 8px;
  }

  .challange_image {
    margin-top: 32px;
  }
  .challange_image_top {
    margin-right: 0;
    width: 70%;
    margin-left: auto;
  }
  .challange_image_bottom {
    margin-top: 0;
    width: 65%;
    display: inline-block;
    transform: translateY(-50%);
  }

  .community {
    margin-top: 10px;
  }
  .community_title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .community_title_svg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  .community_description {
    font-size: 14px;
  }

  .community_button {
    padding: 12px 12px 12px 24px;
    font-size: 14px;
    margin-top: 24px;
    border-radius: 8px;
  }

  .community_button_icon {
    margin-left: 12px;
    width: 20px;
    height: 20px;
  }

  .markt {
    margin-top: 100px;
    border-radius: 25px;
    background-position: bottom center;
    box-shadow: 0px 0px 0px 5px rgba(216, 226, 220, 0.5);
    background-image: none;
    display: block;
    padding-bottom: 16px;
  }
  .markt_text {
    padding: 32px;
  }

  .markt_text_title {
    font-size: 48px;
  }
  .markt_text_description {
    margin-top: 24px;
    font-size: 24px;
  }
  .markt_text_list {
    margin-top: 32px;
  }
  .markt_text_list_item + .markt_text_list_item {
    margin-top: 16px;
  }
  .markt_text_list_item {
    font-size: 18px;
  }

  .markt_text_button {
    margin-top: 32px;
    padding: 12px 12px 12px 18px;
    font-size: 14px;
    display: flex;
    align-items: center;
    max-width: 160px;
  }
  .markt_text_button_icon {
    margin-left: 12px;
    height: 20px;
    width: 20px;
  }

  .markt_back_image {
    display: block;
    width: 100%;
    margin-top: -12px;
    text-align: center;
  }

  .questions {
    margin-top: 150px;
    padding-bottom: 160px;
  }
  .questions_title {
    font-size: 32px;
  }
  .questions_description {
    font-size: 16px;
  }
  .questions_button {
    margin-top: 24px;
    padding: 16px 24px;
    border-radius: 35px;
    font-size: 16px;
  }
  .questions_button_icon {
    margin-left: 12px;
    width: 20px;
    height: 18px;
  }
}
