.img {
  width: 100%;
  height: max-content;

  margin-top: 10px;
  border-radius: 25px;
  box-shadow: 0px 0px 0px 8px #eaf4f4;
}
@media (max-width: 425px) {
  .img {
    border-radius: 14px;
    box-shadow: 0px 0px 0px 4px #eaf4f4;
  }
}
